

/* Hide the "Delete", "Add Another" and "Save" buttons, customize this to what you need  */

.deletelink, input[name="_continue"], input[name="_continue"]{
    display: none;
}

.deletelink, input[name="_addanother"], input[name="_addanother"]{
    display: none;
}

.alert-warning{
display: none;
}

.navbar-brand{
display: none;
}