{% extends "index2.html" %}

{% block content %}

<html>
<head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link href="../../static/css/badge.css" rel="stylesheet">


<script>
$(document).ready(function(){
  $("button").click(function(){
    $("div").scrollTop(100);
  });
});
</script>

</head>	



<body>

<h1>Unassigned Calls</h1>

<div class="icon-wrapper">
<i class="fa fa-envelope fa-1x fa-border icon-grey"></i>
<span class="badge">{{ calls|length }}</span>

</div>

<div style="border:1px solid black;width:600px;height:200px;overflow:auto">
{% for call in calls %}
<div>
<h2><a href="/calls/get/{{ call.id }}/">
Call # {{ call.id }}<br></a></h2>
<p><b>Description</b> {{ call.description }}</p>
</div><br>
{% empty %}
<p>There are currently no Unassigned Calls.</p><br>
<a class="btn btn-primary -lg" href="/accounts/loggedin" role="button">Back to Main Menu </a></p>
</div>

</body>

</html>


{% endfor %}

<a href="/accounts/loggedin" <i class="fa fa-home fa-2x" title ="Home"></i></a>

{% endblock %}

