{% extends "index2.html" %}

{% block content %}

{% if user.is_authenticated %}

<script type="text/javascript" src="{{ STATIC_URL }}js/tiny_mce/tiny_mce.js"></script>


<form method="POST" class="post-form">{% csrf_token %}

<div align="center">

{{ form.as_p }} 


<button type="submit" class="save btn btn-default">Submit</button>
</div>

</form>

{% else %}

<p>Please ensure that you are logged in</p>

<p><a class="btn btn-primary btn-lg" href="/accounts/login" role="button">Login &raquo;</a></p>

{% endif %}	

{% endblock %}