{% extends "index2.html" %}

{% block content %}

{% if user.is_authenticated %}

	<h2>Hi {{ user.first_name }} you are now logged in!</h2>
	<p>Click <a href="/accounts/logout/">here</a> to logout.</p>
	
	<br>
	<br>
	
<div class="list-group" align = center>
  <a class="list-group-item1" href="/calls/all"><span class="glyphicon glyphicon-wrench"></span>&nbsp; Unassigned Calls</a>
  <a class="list-group-item" href="/calls2/all2"><span class="glyphicon glyphicon-list-alt"></span>&nbsp; Assigned Calls</a>
  <a class="list-group-item" href="/calls3/all3"><span class="glyphicon glyphicon-minus-sign"></span>&nbsp; Delayed Calls</a>
  <a class="list-group-item" href="/calls4/all4"><span class="glyphicon glyphicon-transfer"></span>&nbsp; Reassign Calls</a>
</div>

  <br>
  <a href="/admin" class="btn btn-info btn-lg">
  <span class="glyphicon glyphicon-user"></span> Admin
  </a>

{% else %}

<p>Please ensure that you are logged in</p>

<p><a class="btn btn-primary btn-lg" href="/accounts/login" role="button">Login &raquo;</a></p>

{% endif %}	

{% endblock %}